
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Posts Index</h2>

<p> You must
    @Html.ActionLink("sign in", "Login", "Auth", new { area = "" }, new { @class = "no-class" })
    to see the posts.
</p>