@model IEnumerable<SimpleBlog.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users Index</h2>
<p>from the admin area</p>


<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
    </tr>    
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Password)
            </td>
        </tr>
    }    
</table>

