
@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign in</h2>
<div>
    Login View
</div>


<form method="post">
    <input type="text" name="Username"  />
    <input type="password" name="Password"  />
    <input type="submit"  value="Login" />
</form>